body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

.header {
  display: flex;
  height: 69px;
  border-bottom: 1px solid seashell;
}

.logo {
  height: 50px;
}

nav {
  font-size: 10px;
}

.mission {
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  display: flex;
  align-items: center;
}

.statement {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  background-color: black;
  width: 1200px;
}

.statement h2 {
  margin: 15px;
}

.statement h4 {
  margin: 15px;
}

.menutitle {
  display: flex;
  flex-direction: column;
  width: 1000px;
  text-align: center;
}

.teas {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

img {
  height: 200px;
  width: 300px;
  margin: 10px;
}

.loccontainer {
  background-image: url("../images/img-mission-background.jpg");
  height: 500px;
  width: 1200px;
}

.loccontainer h2 {
  text-align: center;
  margin-bottom: 15px;
}

.alllocations {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.location {
  background-color: black;
  opacity: 1;
  text-align: center;
  width: 300px;
  margin: auto 20px;
}

.contact {
  height: 200px;
  text-align: center;
}

.footer {
  text-align: left;
}
